@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #070f2b;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hover-delay {
  --tw-scale-x: 1.5;
  --tw-scale-y: 1.5;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  z-index: 1;
}

.inner-shadow-main-movie {
  -webkit-box-shadow: inset 0px 40px 42px -39px rgba(255, 255, 255, 1),
    inset 0px -40px 42px -39px rgba(255, 255, 255, 1);
  -moz-box-shadow: inset 0px 40px 42px -39px rgba(255, 255, 255, 1),
    inset 0px -40px 42px -39px rgba(255, 255, 255, 1);
  box-shadow: inset 0px 40px 42px -39px rgba(255, 255, 255, 1),
    inset 0px -40px 42px -39px rgba(255, 255, 255, 1);
}
